<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PasionXlaBrasa</title>
    <link rel="stylesheet" href="css/LayoutStyle.css">
</head>

<body>
    <header>
        <h4>Pasión por la brasa</h4>
    </header>
    <section class="Banner">
        <img src="imagenes/Banner.jpeg" alt="Logo">
    </section>
    <section class="LinkNavegation">
        <a class="LinkItem" href="/Home">Inicio</a>
        <a class="LinkItem" href="/Nosotros">Nosotros</a>
        <a class="LinkItem" href="/Carta">Carta</a>
        <a class="LinkItem" href="/Promociones">Promociones</a>
        <a class="LinkItem" href="/Ubicanos">Ubicaciones</a>
    </section>
    <main>
        <%- body %> <!-- Aquí se renderiza el contenido de las vistas -->
    </main>
    <footer>
        <p>&copy; 2025 Mi Restaurante</p>
    </footer>
</html>