<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <!--CSS PUBLIC-->
  <link rel="stylesheet" href="css/index.css">
  <title>Home</title>
</head>

<body>
    <section class="contenedorPri">
      <div class="container cardsinfo row">
        <div class="card">
          <div class="image">
            <img src="imagenes/menu2.jpeg" alt="menu2">
          </div>
          <div class="content">
            <a href="#">
              <span class="title">
                Costillas a la BBQ
              </span>
            </a>

            <p class="desc">
              Costillas jugosas cubiertas con salsa BBQ y decoradas con hierbas frescas, perfectas para los amantes del sabor ahumado
            </p>

            <a class="action" href="#">
              Más detalles
              <span aria-hidden="true">
                →
              </span>
            </a>
          </div>
        </div>
        
        <div class="card">
          <div class="image">
            <img src="imagenes/menu3.jpeg" alt="menu3">
          </div>
          <div class="content">
            <a href="#">
              <span class="title">
                Plato de Salchichas Mixtas
              </span>
            </a>

            <p class="desc">
              Una selección de salchichas a la parrilla, servidas con mostaza y chucrut.
            </p>

            <a class="action" href="#">
              Más detalles
              <span aria-hidden="true">
                →
              </span>
            </a>
          </div>
        </div>

        <div class="card">
          <div class="image">
            <img src="imagenes/menu1.jpeg" alt="menu1">
          </div>
          <div class="content">
            <a href="#">
              <span class="title">
                Pollo Asado Picante
              </span>
            </a>

            <p class="desc">
              Piernas de pollo sazonadas con especias y acompañadas de ensalada de col cremosa.
            </p>

            <a class="action" href="#">
              Más detalles
              <span aria-hidden="true">
                →
              </span>
            </a>
          </div>
        </div>


        <div class="card">
          <div class="image">
            <img src="imagenes/menu2.jpeg" alt="menu2">
          </div>
          <div class="content">
            <a href="#">
              <span class="title">
                Brochetas de Vegetales
              </span>
            </a>

            <p class="desc">
              Pinchos con vegetales coloridos como calabacines, pimientos, cebollas y champiñones, servidos sobre una cama de arroz.
            </p>

            <a class="action" href="#">
              Más detalles
              <span aria-hidden="true">
                →
              </span>
            </a>
          </div>
        </div>

        <div class="card">
          <div class="image">
            <img src="imagenes/menu3.jpeg" alt="menu3">
          </div>
          <div class="content">
            <a href="#">
              <span class="title">
                Bife a la Parrilla
              </span>
            </a>

            <p class="desc">
              Un suculento bistec coronado con mantequilla de ajo y acompañado de papas asadas.
            </p>

            <a class="action" href="#">
              Más detalles
              <span aria-hidden="true">
                →
              </span>
            </a>
          </div>
        </div>

        <div class="card">
          <div class="image">
            <img src="imagenes/menu4.jpeg" alt="menu4">
          </div>
          <div class="content">
            <a href="#">
              <span class="title">
                Hamburguesa Ahumada
              </span>
            </a>

            <p class="desc">
              Hamburguesa con carne a la parrilla, queso derretido, lechuga, tomate y cebolla, servida con papas fritas crujientes.
            </p>

            <a class="action" href="#">
              Más detalles
              <span aria-hidden="true">
                →
              </span>
            </a>
          </div>
        </div>
      </div>
    </section>
  
</body>

</html>