*{
    font-family: 'Courier New', Courier, monospace;
}

:root{
    --PrimaryColor: rgb(221, 26, 26);
    --SecondaryColor : blue;
    --BorderColor:yellow;
    --TextColor: rgb(255, 255, 255);
}

header{
    background-color: blue;
    color:aliceblue;
    text-align: center;
    padding-block: 5px;
}