* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --PrimaryColor: rgba(77, 37, 0, 0.397);
    --SecondaryColor: blue;
    --BorderColor: rgba(187, 187, 183, 0.205);
    --TextColor: rgb(255, 255, 255);
}

.conteNosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 10px;
}

.card{
    border: 1px solid var(--BorderColor);
}

.card1 {
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1.5s ease-in-out forwards;
    width: 90%;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.card2 {
    opacity: 0;
    transform: translateX(-100%);
    animation: slideOn 1.5s ease-in-out forwards;
    width: 90%;
}

@keyframes slideOn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media(max-width:767px){
    .img-fluid {
        max-height: 200px;
    }
}